.im-pricing-calculator {
  background: rgba($purple-light, 0.9);
  border-radius: 2px;
  color: #fff;
  float: right;
  font-family: $font-family-roboto;
  padding: 20px;
  width: 180px;

  &.is-fixed {
    box-shadow: 0 0 2px 1px rgba(black, 0.2);
    left: 50%;
    margin-left: 260px;
    top: 60px;
    z-index: 1;
  }

    // IE8
  .no-csstransforms & {
    border: 1px solid transparent;
  }

  .no-csstransforms &.is-fixed {
    border-color: #3c397a;
    margin-left: 258px;
  }

  // set min-height to prevent xhr request jolting cal height on response
  .pricing-product-price {
    min-height: 40px;
  }

  .pricing-scale__items {
    background: lighten($purple-light, 5);
    border-radius: 2px;
    border: 1px solid lighten($purple, 6);
    margin: 2px -1px 0;
    overflow: hidden;
  }

  .boxsizing & .pricing-scale__item {
    box-shadow: inset 0 1px 0 0 lighten($purple-light, 20), inset 0 0 3px rgba(#fff, 0.3);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3%;
  }

  .pricing-scale__item {
    cursor: pointer;
    float: left;
    font-size: 21px;
    padding: 15px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 -2px 2px rgba(#000, 0.3);
    width: 60px;

    &:after {
      @include show-pseudo-element;
      background: lighten($purple, 6);
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 1px;
    }

    &:hover {
      background: lighten($purple-light, 10);
    }

    &.is-selected {
      background: darken($purple-light, 5);
      box-shadow: inset 0 1px 3px rgba(#000, 0.2);

      .pricing-scale__item-title {
        color: #FED500;
      }
    }
  }

  .pricing-scale__item:first-child:after {
    display: none;
  }

  .pricing-scale__item-title {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
  }

  .pricing-scale__item input {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  .form__actions {
    background: none;
    margin-top: 0;
  }

  // Select box
  .select {

    select {
      background: darken($purple-light, 5);
      border: 1px solid #322C64;
      box-shadow: none;
      color: #fff;
    }

    .pointerevents & {
      &:before {
        @include show-pseudo-element;
        background: darken($purple-light, 5);
      }

      &:after {
        @include show-pseudo-element;
        @include triangle('bottom', 13px, 7px, #fff);
      }
    }
  }

  .pricing-scale > label,
  .pricing-frequency > label {
    margin-bottom: 5px;
  }

  .btn--primary {
    border: 1px solid #322C64;
  }

  // IE8
  .no-csstransforms & .btn--primary {
    border: 1px solid #7d610f;
    border-bottom: 4px solid #7d610f;
  }
}